body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("grey.jpg");
    background-size: 100%;
}
h3 {
    margin-top: 0;
}
h4 {
    margin-top: 6px !important;
}
.top-margin {
    margin-top: 50px;
}
body, .alert, .container, [ui-view] {
    min-height: 100%;
}
#mainPage {
    font-size: large;
    font-family: cursive;
}
input[type=text], button {
    border: black 1px solid;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
}
.strike{
    text-decoration: line-through;
    color: red;
}
.boldText {
    font-weight: bolder;
}
p{
    display: none;
    color: red;
    margin-top: 10px;
}
.showText{
    display: block;
}
button{
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}

button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn-info{
    margin-right: 10px;
}
#warning{
    font-family: cursive;
    color: #d3901f;
    font-size: small;
}
