<div ng-init="[]" class="alert alert-success">
    <div>To Do:</div>
    <form ng-class="{bold: important}" >
        <input type="text" ng-model="bc.newItem" ng-change="bc.hide()" placeholder="Enter to-do item here."/>
        <button type="submit" ng-click="bc.doSomething(); removeRed()" >Add</button><br><p>Invalid Entry</p>
    </form>
    <br>
    <div ng-repeat="myList in bc.list" ng-class="{strike: myList.done}" class="boldText">
        <input type="checkbox"  ng-model="myList.done" /> {{$index + 1}}:  <span ng-bind="myList.item"></span></h4>
    </div>
    <button ng-click="bc.deleteItem()">Remove marked</button>
    <br>
    <br>
    <input type="text" ng-model="bc.anotherList" ng-change="bc.hide()" placeholder="Enter to-do item here."/>
    <button type="submit" ng-click="bc.newList()" >Add</button><br><p>Invalid Entry</p>
    <div ng-repeat="recentList in bc.addedList" ng-class="{strike: recentList.done}" class="boldText">
        <input type="checkbox"  ng-model="recentList.done" /> {{$index + 1}}:  <span ng-bind="recentList.name"></span></h4>
    </div>

</div>